@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
   --primary-color: rgb(177, 204, 240);
   --primary-color-dark: rgb(96, 113, 146);
}
* {
    box-sizing: border-box;
    outline: 0;
}

body{
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.0em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
}
.container h1{
    text-align: center;
}
.primeira-linha{
    display: flex;
    justify-content: space-around;
    
}
.paragrafo-resultado {
    background: aquamarine;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}
form input:focus {
    outline: 1px solid var(--primary-color-dark);
}
form button {
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 40px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background: var(--primary-color-dark);
}
form button:active {
    background: rgb(200, 224, 228);   
}
.resultado-final, .bad {
    background: rgb(141, 212, 230);
}
.bad {

    background: rgb(255, 195, 195);
}